.header{
    text-align:center;
    margin: 2rem 0;
}

.footer {
    text-align:center;
    margin-top: 2rem;
}

.footer_button {
    font-size: .9rem;
}

.logo {
    font-family: 'Lobster', cursive;
}

input[type=password] {
    font-family: "Malgun gothic";

    &::placeholder {
        font-family: "NanumSquareR";
    }
}

@media screen and (max-width:500px){
    html {
        font-size: 13px;
    }
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:link {
    text-decoration: none!important;
}

.main_header_nav {
    margin: 1rem 0.5rem;
}

.main_header_navbar {
    margin: 1rem 0;
}