.header{
    text-align:center;
    margin: 2rem 0;
}

.footer {
    text-align:center;
    margin-top: 2rem;
}

.footer_button {
    font-size: .9rem;
}

.logo {
    font-family: 'Lobster', cursive;
}